* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: 'Open Sans', Tahoma, sans-serif;
}

form#user {
    background-color: #f0f1f3;
    bottom: 0;
    color: #667073;
    left: 0;
    opacity: 0;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
}
form#user.active {
    opacity: 1;
}
form#user h2 {
    color: #667073;
    text-align: center;
}
form#user input {
    border: 0;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
}
form#user button {
    border: none;
    background-color: #70b1d1;
    color: #f0f1f3;
    padding: 10px;
    width: 90%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
    background-color: #fff;
    margin: 5px 10% 5px 0;
    padding: 5px 10px;
    width: 90%;
}
#messages li:nth-child(odd) {
    background-color: #eee;
}
#messages li.me {
    margin: 5px 0 5px 10%;
    text-align: left;
}

#status {
    bottom: 30px;
    color: #aaa;
    display: block;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
}

form#send {
    background-color: #3c4446;
    border-top: 1px solid #70b1d1;
    bottom: 0;
    left: 0;
    height: 30px;
    padding: 0;
    position: fixed;
    right: 0;
}
form#send input {
    border: 0;
    margin-right: .5%;
    padding: 10px;
    width: 90%;
}
form#send button {
    background-color: #70b1d1;
    border: none;
    padding: 10px;
    width: 9%;
}
