extends _base

block title
    title #{locals.title} ~ Bottle o' Messages

block body
    h2 Welcome to Bottle o' Message
    div.c-choose
        img(src='img/choose.jpg', width='140', height='140', alt='')
        h3 Choose someone to chat with.
        p.
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form
