extends _base

block title
  title #{locals.title} ~ Bottle o' Messages

block body
  ul#messages
  span#status

  form#send(action='')
    input(type='hidden', id='r', name='roomid', value=locals.userid)
    input(type='text', id='m', autocomplete='off', placeholder='Your message')
    button Send
