extends _base

block title
  title #{locals.title} ~ Bottle o' Messages

block body
  form#user(action='')
    h2 Choose a user name
    input(id='u', autocomplete='off', placeholder='User name')
    button Start discussion

  ul#messages
  span#status

  form#send(action='')
    input(type='hidden', id='r', name='roomid', value=locals.userid)
    input(type='text', id='m', autocomplete='off', placeholder='Your message')
    button Send
